#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

div.container {
  width: 1000px;
}

div.cuisine {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  margin: 1rem 0.25rem;
  /* box-shadow: 3px 4px #CD5C5C */
  font-size: 20px;
  color: ivory;
  text-shadow: 2px 2px 2px #6D6875;
}

#cuisine-container {
  margin-top: 10%;
}

#american {
  background: url(../images/american.jpg) no-repeat center;
  background-size: 100% auto;
}

#british {
  background: url(../images/british.jpg) no-repeat center;
  background-size: 100% auto;
}

#chinese {
  background: url(../images/chinese.jpg) no-repeat center;
  background-size: 100% auto;
}

#eastern-european {
  background: url(../images/eastern-european.jpg) no-repeat center;
  background-size: 100% auto;
}

#european {
  background: url(../images/european.jpg) no-repeat center;
  background-size: 100% auto;
}

#french {
  background: url(../images/french.jpg) no-repeat center;
  background-size: 100% auto;
}

#german {
  background: url(../images/german.jpg) no-repeat center;
  background-size: 100% auto;
}

#greek {
  background: url(../images/greek.jpg) no-repeat center;
  background-size: 100% auto;
}

#indian {
  background: url(../images/indian.jpg) no-repeat center;
  background-size: 100% auto;
}

#irish {
  background: url(../images/irish.jpg) no-repeat center;
  background-size: 100% auto;
}

div.cuisine-bar {
  text-align: left;
  border: grey solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 3.8rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #CD5C5C
}

div.recipe-detail {
  text-align: left;
  border: grey solid 1px;
  padding: 1rem;
  width: 75rem;
  height: 5.45rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #CD5C5C
}
